# CLion
.idea

# Conan
/conan.cmake
/conan.lock
/conanbuildinfo.cmake
/conanbuildinfo.txt
/conaninfo.txt
/graph_info.json

# CMake
.cmake
CMakeFiles
CMakeCache.txt
cmake_install.cmake

# Ninja
.ninja_deps
.ninja_log
build.ninja
rules.ninja

# build
build/**
bin/**
lib/**

# SQL
*.sql

# testing
solution
solutions/*