# Conan
conan*
graph_info.json

# CMake
CMakeFiles
CMakeCache.txt
cmake_install.cmake

# Ninja
.ninja_deps
.ninja_log
build.ninja
rules.ninja

# build
build/**
bin/**

# SQL
*.sql

# testing
solution
solutions/*